/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app-layout{
    margin: 0 auto;
    transition: all 0.4s ease;
  }

  .bill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start
  }

  .bill-item {
    margin: 16px !important;
    width: 250px;
  }
}

